{% extends 'base.html.twig' %}



{% block body %}
    <h1>Entreprise</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ entreprise.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ entreprise.Adresse }}</td>
            </tr>
            <tr>
                <th>WebLink</th>
                <td>{{ entreprise.WebLink }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entreprise.Description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ entreprise.Image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('entreprise_index') }}"><button class="btn-default">Retourner à la liste</button></a>
{% endblock %}
