<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
            <meta name="description" content="" />
            <meta name="author" content="" />
            <title>Mon Bio</title>
            <link rel="icon" type="image/x-icon" href={{ asset("assets/img/favicon.ico")}} />
            <!-- Font Awesome icons (free version)-->
            <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
            <!-- Google fonts-->
            <link href={{ asset("https://fonts.googleapis.com/css?family=Montserrat:400,700")}} rel="stylesheet" type="text/css" />
            <link href={{ asset("https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic")}} rel="stylesheet" type="text/css" />
            <link href={{ asset("https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700")}} rel="stylesheet" type="text/css" />
            <!-- Core theme CSS (includes Bootstrap)-->
            {% if app.request.attributes.get('_route') starts with 'login' or app.request.attributes.get('_route') starts with 'register'  %}
            <link href={{ asset("css/loginStyle.css")}} rel="stylesheet" />
            {% else %}
            <link href={{ asset("css/styles.css")}} rel="stylesheet" />
            {% endif %}
        {% endblock %}
    </head>
    <body>
    {% if app.request.attributes.get('_route') starts with 'login' or app.request.attributes.get('_route') starts with 'register'  %}
    {% else %}
     <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <!-- <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="assets/img/navbar-logo.svg" alt="" /></a>-->
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars ml-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/">Accueil</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/magasinBio">Magasins bio</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/enseigne">Enseignes Eco-responsable</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="restaurant">Restaurant bio</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/parrainage">Parrainage</a></li>
                        <li class="nav-item">    
                            <form class="navbar-form navbar-right" role="search"> 
                                <div class="form-group"> 
                                    <input type="text" class="form-control" placeholder="Search"> 
                                </div> 
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button> 
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endif %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <!-- Bootstrap core JS-->
            <script src={{ asset("https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")}}></script>
            <script src={{ asset("https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js")}}></script>
            <!-- Third party plugin JS-->
            <script src={{ asset("https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js")}}></script>
            <!-- Contact form JS-->
            <script src={{ asset("assets/mail/jqBootstrapValidation.js")}}></script>
            <script src={{ asset("assets/mail/contact_me.js")}}></script>
            <!-- Core theme JS-->
            <script src={{ asset("js/scripts.js")}}></script>
        {% endblock %}
    </body>
</html>
